<%- include('partials/header') %>

<style>
  .jumbotron {
    background-color: transparent;
    color: #ffffff;
    padding-top: 50px;
    text-align: center;
  }

  .confessions-heading {
    font-size: 80px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 20px; /* Set margin-top to create space from the top */
  }

  .secret-text {
    font-size: 16px;
    margin-bottom: 20px;
    color: #f8f9fa;
  }

  .read-more {
    display: block;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
  }

  .read-more:hover {
    color: #ced4da;
  }

  .read-less {
    display: none;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
  }

  .read-less:hover {
    color: #ced4da;
  }

  .confession-divider {
    border-top: 1px solid #f8f9fa;
    margin: 20px 0;
  }

  .btn {
    margin-top: 20px;
    font-size: 18px;
    padding: 10px 20px;
  }

  .btn-light {
    background-color: #ffffff;
    color: #6c757d;
  }

  .btn-dark {
    background-color: #343a40;
    color: #ffffff;
  }

  .btn-logout,
  .btn-confess {
    font-size: 16px; /* Adjust font size */
    padding: 8px 16px; /* Adjust padding */
  }
  
</style>

<div class="container mt-5">
  <div class="jumbotron text-center">
    <div class="container">
      <h1 class="confessions-heading">Confessions</h1>
      <% usersWithSecrets.forEach(function(user){ %>
        <p class="secret-text">
          <%= user.secret.length > 100 ? user.secret.slice(0, 100) + "..." : user.secret %>
          <% if (user.secret.length > 100) { %>
            <span class="read-more" onclick="expandText(this)">Read More</span>
            <span class="full-text" style="display: none;"><%= user.secret %></span>
            <span class="read-less" style="display: none;" onclick="collapseText(this)">Read Less</span>
          <% } %>
        </p>
        <div class="confession-divider"></div>
      <% }) %>
      <a class="btn btn-dark btn-logout" href="/logout" role="button">Log Out</a>
      <a class="btn btn-light btn-confess" href="/submit" role="button">Confess</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>

<script>
  function expandText(element) {
    var fullText = element.nextElementSibling;
    var readMoreButton = element;
    var readLessButton = element.nextElementSibling.nextElementSibling;
    fullText.style.display = "inline";
    readMoreButton.style.display = "none";
    readLessButton.style.display = "inline";
  }

  function collapseText(element) {
    var fullText = element.previousElementSibling;
    var readMoreButton = element.previousElementSibling.previousElementSibling;
    var readLessButton = element;
    fullText.style.display = "none";
    readMoreButton.style.display = "inline";
    readLessButton.style.display = "none";
  }
</script>

